<div class="actions-panel">
    <div class="grid-description">Click on an user to edit or click <strong>Add</strong> to create a new user</div>
    <div class="grid-action" data-bind="click: userEditor.new">
      <span class="grid-action-icon"><i class="fa fa-plus"></i></span>
      <span class="grid-action-label">Add new user</span>
    </div>
</div>

<div class="grid-container">
    <div id="users-grid"
        data-kendo-role="grid"
        data-kendo-bind="source: users, events: { change: editUser }"
        data-kendo-pageable="{ refresh: true, pageSizes: true, buttonCount: 5 }"
        data-kendo-filterable="true"
        data-kendo-selectable="true"
        data-kendo-sortable="true"
        data-kendo-scrollable="false"
        data-kendo-columns="[
          { field: 'UserName',          title: 'Username'    },
          { field: 'Claims.FirstName',  title: 'First Name'  },
          { field: 'Claims.MiddleName', title: 'Middle Name' }, 
          { field: 'Claims.LastName',   title: 'Last Name'   }, 
          { field: 'Claims.NickName',   title: 'Nickname'    }, 
          { field: 'Claims.Email',      title: 'Email'       } ]">
    </div>
</div>