﻿@model IEnumerable<System.Security.Claims.Claim>

@{
    ViewBag.Title = "Login";
}

<dl>
    @foreach (var claim in Model)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>
