﻿html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #062134;
    /*border-top: solid 10px #000;
    color: #333;*/
    font-size: .95em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

a {
    color: white;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active {
        color: white;
    }

    a:hover {
        color: #39729B;
    }

    a.light-background {
        color: #39729B;
    }
    a.light-background:hover {
        color: #062134;
    }


header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.menu-float-right {
    position: absolute;
    right: 150px;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: .9em;
}

h5, h6 {
    font-size: .8em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 10px;
    height: 100%;
}

    .main-content {
        background: url("../Images/accent.png") no-repeat;
        padding-left: 10px;
        padding-top: 30px;
    }

    .featured + .main-content {
        background: url("../Images/heroAccent.png") no-repeat;
    }

header .content-wrapper {
    padding-top: 20px; 
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .688em;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.row {
    left: 0;
    right: 0;
}

.scroll-y {
    overflow-y: auto;
}

.header.row {
    height: 74px;
    top: 0;
}

.feature.row {
    height: 21px;
    width: 100%;
    position: absolute;
}

.body.row {
    top: 106px;
    bottom: 20px;
    position: absolute;
    width: 100%;
}

.footer.row {
    height: 20px;
    bottom: 0;
    position: absolute;
    width: 100%;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 1.2em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .95em;
    margin: 0 0 10px;
    text-align: right;
    color: white;
}

    #login a {
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: .95em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: white;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #39729B;
            text-decoration: none;
        }


/* dropdown menu
----------------------------------------------------------*/
ul#dmenu {
    font-size: .95em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    list-style: none;
}
    ul#dmenu li {
        display: inline-block;
        position: relative;
        float: right;
        list-style: none;
        padding-left: 15px;
    }
        ul#dmenu li a {
            background: none;
            color: white;
            text-decoration: none;
        }
        ul#dmenu li a:hover {
            color: #39729B;
            text-decoration: none;
        }
        ul#dmenu li > ul {
            display: none;
            z-index: 300;
        }
        /*ul#dmenu li:hover > ul {
            display: block;
        }*/
    ul#dmenu ul {
        background: #062134;
        position: absolute;
        padding: 0;
        border: 1px solid #1468A8;
    }
    ul#dmenu li:hover li {
        float: none;
    }
    ul#dmenu ul li a:hover {
        text-decoration: none;
    }
        ul#dmenu ul li {
            float: left;
            position: relative;
            padding: 3px 10px;
        }
            ul#dmenu ul li a {
                background: none;
                text-decoration: none;
                color: white;
            }
            ul#dmenu ul li a:hover {
                text-decoration: none;
                color: #39729B;
            }



/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #062134;
}

    .featured .content-wrapper {
        background-color: #787878;
        background-image: -ms-linear-gradient(left, #787878 0%, #787878 100%);
        background-image: -o-linear-gradient(left, #787878 0%, #787878 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #787878), color-stop(1, #787878));
        background-image: -webkit-linear-gradient(left, #787878 0%, #787878 100%);
        background-image: linear-gradient(left, #787878 0%, #787878 100%);
        color: #787878;
        padding: 0px 25px 1px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: .95em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 5px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: normal;
}

input:focus, select:focus {
    outline: none !important;
    border: 1px solid #1468A8 !important;
}

/* login page */
#loginForm {
    /*border-right: solid 2px #c8c8c8;*/
    float: left;
    /*width: 55%;*/
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 0px;
        }

label {
    display: block;
    font-size: .95em;
    font-weight: normal;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: .85em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 160px;
}

select {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: .85em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 90px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

input.fulltilelist {
    float: right;
    margin-top: 1px;
    padding: 4px;
    height: 12px;
    resize: none;
    width: 500px;
    white-space: nowrap;
}

input.fulltilelistwait {
    float: right;
    margin-top: 1px;
    padding: 4px;
    height: 12px;
    resize: none;
    width: 50px;
    color: black;
    white-space: nowrap;
    background-color: transparent;
}

input.fulltilelistreply {
    float: right;
    margin-top: 1px;
    padding: 4px;
    height: 12px;
    resize: none;
    width: 75px;
    color: black;
    white-space: nowrap;
    background-color: transparent;
    text-align: center;
    margin-right: 10px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: .95em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="reset"],
    td input[type="button"],
    td button {
        font-size: .95em;
        padding: 3px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: .625em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: .95em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
    display: inline-block;
    font-size: .625em;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: .95em;
}

.validation-summary-valid {
    display: none;
}

/* Dialog
----------------------------------------------------------*/
.ui-dialog {
    border-radius: 0px;
    font-size: 0.85em;
}
.ui-dialog-titlebar{
    border-radius: 0px;
}

.ui-widget-header{
    background: none;
    background-color: #CDCDCD;
}

.ui-button {
    background-color: #D3DCE0;
    border: 1px solid #787878;
    font-size: 0.95em;
    padding: 3px;
    margin-right: 4px;
    border-radius: 0px;
    cursor: pointer;
    font-weight: 600;
    width: auto;
}

.ui-state-default{
    background: none;
    background-color: white;
}

.ui-widget-content{
    background: none;
    background-color: white;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: .95em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    padding: 0.15em 1em 0.15em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}

.payer-list {
    height: 100%;
}

/********************
*    Table Grid     *
********************/

.tablegrid {
    background-color: white; 
    width: 100%;
    border: 1px solid #787878;
}

.tablegrid th {
    padding: 4px;
    background-color: #d3dce0;
    border-bottom: 1px solid #787878;
}

.tablegrid td {
    padding: 4px;
}
.tablegrid tr:nth-child(even) {
    background-color: #DAEDFF;
}
.tablegrid tr:nth-child(odd) {
    background-color: white;
}
.tablegrid tr:hover {
    background-color: #EFEEEF !important;
}
.tablegrid tr th {
    border-right: 1px solid #787878;
}
.tablegrid tr th:last-child {
    border-right: none;
}
.tablegrid tr td {
    border-right: 1px solid #787878;
}
.tablegrid tr td:last-child {
    border-right: none;
}
.tablegrid a {
    color: #39729B;
    cursor: pointer;
    text-decoration: none;
}
.tablegrid a:hover {
    color: #062134;
    cursor: pointer;
    text-decoration: none;
}

.tablegrid tr.selected-row {
        background-color: lightgreen;
    }

.tablegrid tr.selected-row:hover {
        background-color: lightgreen !important;
    }

/********************
*   Table Response  *
********************/

.tableresp {
    border: 1px solid #ffffff;
    width: 100%;
    background-color: #ffffff;
    margin: 4px 0px 0px;
}
.tableresp td{
    padding: 0px 4px;
}
.tableresp td.tableheader {
    background-color: #C0C0C0;
    font-weight: bold;
    font-size: 1.05em;
}
.tableresp td.groupheader {
    background-color: #C0C0C0;
    font-weight: bold;
    font-size: .85em;
}
.tableresp td.itemlabel {
    background-color: #EFEFEF;
    width: 1%;
    white-space: nowrap;
    border: 1px solid white;
    font-weight: bold;
    font-size: .85em;
}
.tableresp td.item {
    background-color: white;
    width: 1em;
    white-space: normal;
    border: 1px solid white;
    font-size: .85em;
}

.tableresp td.item-split {
    background-color: white;
    width: 1em;
    white-space: normal;
    word-break: break-all;
    border: 1px solid white;
    font-size: .85em;
}

.tableresp td.empty {
    width: 1%;
}

/********************
* Table Transaction *
********************/

.tabletran {
    border: 1px solid #ffffff;
    width: 100%;
    background-color: #ffffff;
    margin: 0;
}
.tabletran td{
    padding: 0px 4px;
}
.tabletran td.tableheader {
    background-color: #C0C0C0;
    font-weight: bold;
    font-size: 1.05em;
}
    .tabletran td.groupheader {
        background-color: #787878;
        font-weight: bold;
        font-size: .85em;
        cursor: pointer;
    }
        .tabletran td.groupheader:hover {
            background-color: #39729B;
        }
.tabletran td.itemlabel {
    background-color: #EFEFEF;
    width: 1%;
    white-space: nowrap;
    border: 1px solid white;
    font-weight: bold;
    font-size: .85em;
    vertical-align: top;
}
.tabletran td.item {
    background-color: white;
    width: 1%;
    white-space: nowrap;
    border: 1px solid white;
    font-size: .85em;
}

.tabletran td.item-split {
    background-color: white;
    width: 1em;
    white-space: normal;
    word-break: break-all;
    border: 1px solid white;
    font-size: .85em;
}

.tabletran td.empty {
    width: 1%;
}

/********************
* Table Details *
********************/

.tabledetails {
    border: 1px solid #ffffff;
    width: 100%;
    background-color: #ffffff;
    margin: 0;
}
.tabledetails td{
    padding: 0px 4px;
}
.tabledetails td.tableheader {
    background-color: #C0C0C0;
    font-weight: bold;
    font-size: 1.05em;
}
    .tabledetails td.groupheader {
        background-color: #787878;
        font-weight: bold;
        font-size: .85em;
    }
 
.tabledetails td.itemlabel {
    background-color: #EFEFEF;
    width: 1%;
    white-space: normal;
    border: 1px solid white;
    font-weight: bold;
    font-size: .85em;
    vertical-align: top;
}
.tabledetails td.item {
    background-color: white;
    width: 1%;
    white-space: normal;
    border: 1px solid white;
    font-size: .85em;
}

.tabletran td.item-split {
    background-color: white;
    width: 1em;
    white-space: normal;
    word-break: break-all;
    border: 1px solid white;
    font-size: .85em;
}

.tabledetails td.empty {
    width: 1%;
}

/********************
*   Table Batch     *
********************/

.tablebatch {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.tablebatch td.left-col{
    width: 30%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.tablebatch td.right-col{
    width: 70%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.batch-file-drop-zone-container {
    height: 75px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    background-color: #ffffff;
    cursor: default;
}

.batch-file-drop-zone {
    height: 65px;
    width: calc(100% - 10px);
    border: 1px dashed #DDD;
    background-color: #ffffff;
    position: relative;
    top: 4px;
    left: 4px;
    text-align: center;
    cursor: default;
}

.batch-file-list {
    height: calc(100% - 250px);
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;   
    background-color: #ffffff;
}

.batch-file-buttons {
    height: 35px; 
    border: 1px solid #DDD;
    background-color: #ffffff;
    text-align: center;
}

.batch-file-upload-list {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}
.batch-file-list li {
    list-style: none;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    padding: 10px;
}

/*----------------------------
    BT Grid
-----------------------------*/

.bttablegrid {
    background-color: white;
    width: 100%;
    border: 1px solid #787878;
    margin: 0;
    padding: 0;
}

    .bttablegrid tr {
        cursor: pointer;
    }

    .bttablegrid tr:nth-child(even) {
        background-color: #DAEDFF;
    }

    .bttablegrid tr:nth-child(odd) {
        background-color: white;
    }

    .bttablegrid tr:hover {
        background-color: #DDD;
    }

    .bttablegrid tr:last-child {
        border-top: 1px solid #787878;
        background-color: #d3dce0;
        font-weight: bold;
    }

    .bttablegrid tr.selected-row {
        background-color: lightgreen;
    }

    .bttablegrid tr th {
        padding: 4px;
        background-color: #d3dce0;       
        font-weight: bold;
        border-right: 1px solid #787878;
        border-bottom: 1px solid #787878;
    }

        .bttablegrid tr th:last-child {
            border-right: none;
        }

    .bttablegrid tr td {
        border-right: 1px solid #787878;
        padding: 4px;
    }

        .bttablegrid tr td:last-child {
            border-right: none;
        }

    .bttablegrid a {
        color: #39729B;
        cursor: pointer;
        text-decoration: none;
    }

        .bttablegrid a:hover {
            color: #062134;
            cursor: pointer;
            text-decoration: none;
        }

/*----------------------------
    Sort Arrows
-----------------------------*/

div.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #2f2f2f;
    font-size: 0;
    line-height: 0;
    display: inline-block;
    vertical-align: top;
    margin: 4px 4px 0 4px;
}

div.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2f2f2f;
    font-size: 0;
    line-height: 0;
    display: inline-block;
    vertical-align: top;
    margin: 4px 4px 0 4px;
}

/********************
*    Tile List      *
********************/

ul.tilelist {
    
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}
ul.fulltilelist {
    list-style: none;
    padding: 0;
    overflow: auto;
}

ul.tilelist > li.tileitem{
  /*margin-bottom:10px;*/
}
li.tileitem span {
    display: block;
    clear: both;
    background: #ffffff;
    border: 1px solid #e2e2e2;
    padding: 4px 4px 4px 15px;
    color: #000000;
    font-weight: bold;
}
/*li.tileitem span:hover{
    background:#333;
}*/
ul.tilelist ul.tilelist li.tileitem{
  float:left;
  width:90px;
  margin:0 15px 0 0;
}
ul.tilelist ul.tilelist li.tileitem:nth-child(3){
  margin-right:0;
}
ul.tilelist li.tileitem a {
    background: #ffffff;
    width: 100%;
    padding: 0;
    outline: none;
    text-decoration: none;
    font-weight: bold;
}
ul.tilelist li.tileitem img {
    height: 20px;
    float: right;
    margin: 0px 2px;
    position: relative;
}

/********************
*   Admin Toolbar   *
********************/
.admin-treeview-toolbar{    
    padding: 4px;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    height: 15px;
    width: 250px;
}

.admin-treeview-container{
    padding: 4px;
    border-right: 1px solid #DDD;
    width: 250px;
    height: calc(100% - 170px);
    overflow: auto;  
}

.m-sprite {
    background-image: url("../content/themes/base/images/ui-icons_222222_256x240.png");
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background-repeat: no-repeat;
    font-size: 0px;
    line-height: 0;
    text-align: center;
}

#treeview .k-sprite {
    background-image: url("../content/themes/base/images/ui-icons_222222_256x240.png");
}

.push-pin-in{
    background-position: -130px -145px;
}

.push-pin-out{
    background-position: -146px -145px;
}

.refresh{
    background-position: -65px -80px;
}

.home{
    background-position: 0 -110px;
}

.person{
    background-position: -141px -94px;
}

.delete-link {
                width: 12px;
                height: 12px;
                background: transparent url("../images/delete-icon.png") no-repeat 50% 50%;
                overflow: hidden;
                display: inline-block;
                font-size: 0;
                line-height: 0;
                vertical-align: top;
                margin: 2px 0 0 3px;
                -webkit-border-radius: 5px;
                -mox-border-radius: 5px;
                border-radius: 5px;
            }

/********************
*    Report List    *
********************/
#report-list {

}

    #report-list ul {
        padding: 0;
        margin: 0;
    }

    #report-list ul li {
        background-color: #ffffff;
        color: #39729B;
        height: 28px;
        position: relative;
        list-style-type: none;
        padding-top: 4px;
        padding-left: 10px;
        cursor: pointer;
    }

    #report-list ul li:hover {
        background-color: #DDD;
    }

.wait-overlay {
    background-color: #000000;
    position: fixed;
    width: 960px;
    height: calc(100% - 137px);
    top: 104px;
    left: 50%;
    margin-left: -480px;
    bottom: 33px;
    opacity: 0.4;
    z-index: 900;
}
.wait-centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -64px;
    z-index: 901;
}

/*globalnav*/

#globalnav {
	width:100%;
	padding:0;
	margin:0;
	list-style:none;
    display: inline-block;
}

#globalnav LI {
	float:left;
	margin:0;
	padding:0;
}

#globalnav A {
	display:block;
	color:#444;
	text-decoration:none;
	font-weight:bold;
	background:#ddd;
	margin:0;
	padding:0.25em 1em;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	border-right:1px solid #aaa;
}

#globalnav A:hover,
#globalnav A:active,
#globalnav A.here:link,
#globalnav A.here:visited {
	background:#bbb;
}

#globalnav A.here:link,
#globalnav A.here:visited {
	position:relative;
	z-index:102;
}

/*subnav*/

#globalnav UL {
	position:absolute;
	left:0;
	top:1.5em;
	float:left;
	background:#bbb;
	width:100%;
	margin:0;
	padding:0.25em 0.25em 0.25em 1em;
	list-style:none;
	border-top:1px solid #fff;
}

#globalnav UL LI {
	float:left;
	display:block;
	margin-top:1px;
}

#globalnav UL A {
	background:#bbb;
	color:#fff;
	display:inline;
	margin:0;
	padding:0 1em;
	border:0
}

#globalnav UL A:hover,
#globalnav UL A:active,
#globalnav UL A.here:link,
#globalnav UL A.here:visited {
	color:#444;
}

/********************
*    Logo           *
********************/
a.logo {
    background-color: transparent;
}
    a.logo:link, a.logo:visited,
    a.logo:active, a.logo:hover {
        background-color: transparent;
    }

/********************
*   Custom Menu     *
********************/

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    a.logo {
        background-color: transparent;
    }

        a.logo:link, a.logo:visited,
        a.logo:active, a.logo:hover {
            background-color: transparent;
        }

    /* login */
    #login {
        font-size: .95em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

            #login a:hover {
                color: #333;
            }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu li {
        display: none;
    }

        ul#menu li:hover > ul {
            display: block;
        }

    ul#menu ul {
        background: #5f6975;
        position: absolute;
        top: 100%;
    }

        ul#menu ul li {
            float: none;
            border-top: 1px solid #6b727c;
            border-bottom: 1px solid #575f6a;
            position: relative;
        }

            ul#menu ul li a {
                padding: 15px 40px;
                color: white;
            }

                ul#menu ul li a:hover {
                    background: #4b545f;
                }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: .95em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    select {
        width: 95%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 5px 0;
    }

        footer p {
            margin: 0;
        }
}
